@font-face {
    font-family: "montserratRegular";
    /* src: url('/css/fonts/montserrat-regular-webfont.eot'); */
    src: url("fonts/montserrat-regular-webfont.woff") format("woff"),
         url("fonts/montserrat-regular-webfont.otf") format("opentype"),
         url("fonts/montserrat-regular-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserratBold";
    /* src: url('/css/fonts/montserrat-bold-webfont.eot'); */
    src: url("fonts/montserrat-bold-webfont.woff") format("woff"), 
         url("fonts/montserrat-bold-webfont.otf") format("opentype"),
         url("fonts/montserrat-bold-webfont.svg") format("svg");
    /* font-weight: bold;   */
     
}

@font-face {
    font-family: "robotoMediumItalic";
    src: url("fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "robotoThin";
    src: url("fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "robotoLight";
    src: url("fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";

.bg {
    /* height: calc(100vh - 80px); */
    height: auto;
    /* background-image: url("../img/bg_img_2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;*/
    background-color: #cccccc;
    /* background-color: #999999; */
    /* background-color: #292929; */
    /* background-position: 0px 80px; */
    /* height: 100%; */
    width: 100%;
    margin: 0px;
}

.bg::after {
    position: absolute;
    width: 0;
    height: 0  ;
    overflow: hidden;
    z-index: -1;
    content: url("../img/completed-works/al-dafna-chateu-back.jpg") url("../img/completed-works/al-dafna-chateu-front.jpg") url("../img/completed-works/sa-residence-pakistan.jpg") url("../img/completed-works/sa-residence-left.jpg") url("../img/completed-works/ponta-bella-day.jpg") url("../img/completed-works/ponte-bella-back.jpg")
}

.jzarch-logo {
    /* float: left; */
    /* position: relative; */
    /* left: 120px; */
    height: 70%;
    background-color: transparent;
    width: fit-content;
    display: flex;
    overflow: hidden;
    /* margin-right: 10px; */
    align-items: center;
    margin: 0px auto;
}

.jzarch-logo:hover {
    cursor: pointer;
}

.jzarch-logo img {
    height: inherit;
    width: auto;
}

.logo-fs-index {
    /* font-family: 'montserratBold'; */
    width: fit-content;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2vw;
    /* text-align: justify; */
    /* color: #D1D2D4;  */
    color: white;
    /* color: #e1e1e1; */
    margin: 10px auto 0px auto;
}

.header-root {
    /* transition: 250ms ease; */
    /* position: fixed; */
    /* top: 0px; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
    /* display: flex; */
    height: 50vh;
    width: 100%;
    /* padding: 15px 10px;  */
    /* align-items: center;
    justify-content: center; */
    /* opacity: 100%; */
    /* background-color: rgb(53, 53, 53) !important; */
    background-color: transparent;
    /* -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5); */
    z-index: 10;
}

#big-header-container {
    width: inherit;
    height: 100vh;
    background-color: tomato;
    background-repeat: no-repeat;
    background-image: url("../img/completed-works/al-dafna-chateu-back.jpg");
    /* overflow: hidden; */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 5s; */
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
    z-index: -1;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    
    position: sticky;
    top: 0%;
}

@keyframes animate {
    0%{
        background-image: url("../img/completed-works/al-dafna-chateu-back.jpg");
    }20%{
        background-image: url("../img/completed-works/al-dafna-chateu-front.jpg");
    }40%{
        background-image: url("../img/completed-works/sa-residence-pakistan.jpg");
    }60%{
        background-image: url("../img/completed-works/sa-residence-left.jpg");
    }80%{
        background-image: url("../img/completed-works/ponta-bella-day.jpg");
    }100%{
        background-image: url("../img/completed-works/ponte-bella-back.jpg");
    }
}

#big-header-container-overlay {
    width: inherit;
    height: inherit;
    background-color: #000;
    opacity: 60%;
    
}

.page-title-style {
    /* position: relative; */
    /* left: 15%; */
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vw;
    font-weight: 300;
    width: fit-content;
    margin: 40px 0px 40px 15%;
    z-index: 1;
    color: #e1e1e1;
}

.page-title-style-index {
    /* position: relative; */
    /* left: 15%; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'robotoLight'; */
    font-size: 2.7vw;
    /* font-weight: 200; */
    width: fit-content;
    /* align-items: center; */
    /* margin: 40px 0px 40px 15%; */
    justify-content: center;
    margin: 40px auto;
    z-index: 1;
    color: #e1e1e1;
}

.index-main {
    /* height: 93.2%; */
    /* height: calc(100vh - 80px); */
    height: auto;    
    width: inherit;
    /* margin-top: 80px; */
    display: flex;
    justify-content: center;    
    background-color: #292929;
    flex-direction: column;
}

.index-main-div {
    position: relative;
    z-index: 0;
    min-height: 667px;
    max-height: 1080px;
    height: 100vh;
    width: inherit;
    /* min-width: 310px; */
    margin: 0px 0px;
    /* transition: 500ms ease; */
    /* border: 2px solid black; */
    /* border-radius: 5px; */
    /* background: #c0c0c0; */
    background-color: #292929;
    /* -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5); */
    /* -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5); */
    /* box-shadow: 4px 5px 3px rgba(0,0,0,.5); */
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    /* padding: 30px 0px 30px 15%; */
    
}

.index-main-div div.section-desc {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50vw;
    /* margin-left: 15%; */
    /* padding: 80px 0px; */
    padding: 80px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.index-main-div div.section-image {
    height: auto;
    width: 100%;
    position: relative;

    /* filter: blur(1px);
    -webkit-filter: blur(2px);
    transform: scale(1.009); */
    /* margin-left: 0px; */
    /* background-image: url('/img/completed-works/classic-series-1-del-valle-residence-night-scene.jpg'); */
}

#section-bg-img-cw {
    /* -webkit-filter: blur(5px);  */
    /* transition: 500ms ease; */
    /* filter: blur(5px); */
    position: absolute;
    right: -10%;
    /* position: absolute;
    right: 0px; */
    /* margin-left: auto; */
    /* height: inherit;     */
    height: 100%;
    width: auto;
    z-index: 0;
}

#section-bg-img-cd {
    position: absolute;
    right: -20%;
    height: 100%;
    width: auto;
    z-index: 0;
}

#section-bg-img-au {
    position: absolute;
    right: 0%;
    height: 100%;
    width: auto;
    z-index: 0;
}

.img-overlay-gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgb(73, 73, 73) 0%, rgb(70, 70, 70) 50%, rgba(67, 67, 67, 0.01) 100%);
    background: -o-linear-gradient(left, rgb(73, 73, 73) 0%, rgb(70, 70, 70) 50%, rgba(67, 67, 67, 0.01) 100%);
    background: -ms-linear-gradient(left, rgb(73, 73, 73) 0%, rgb(70, 70, 70) 50%, rgba(67, 67, 67, 0.01) 100%);
    background: -moz-linear-gradient(left, rgb(73, 73, 73) 0%, rgb(70, 70, 70) 50%, rgba(67, 67, 67, 0.01) 100%);
    background: linear-gradient(to right, rgb(73, 73, 73) 0%, rgb(70, 70, 70) 50%, rgba(67, 67, 67, 0.01) 100%);
    
    z-index: 1;
}

.section-desc h5.section-title-font {
    font-family: "robotoThin";
    color: white; 
    font-size: 2.5vw; 
    /* margin-left: 12.25%;
    margin-bottom: 45px; */
    margin: 0px auto 45px auto;
    /* font-family: 'Roboto', sans-serif; */
}

.section-desc p.section-desc-font{
    color: white; 
    width: 75%;
    font-size: 1.25vw; 
    text-align: justify; 
    text-justify: inter-word;
    margin: 10px auto;
    /* font-family: 'Roboto', sans-serif; */
    font-family: "robotoThin";
}

.section-button-container {
    /* height: inherit; */
    /* position: relative;
    top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    border: 0px;    
    background-color: transparent;
    /* font-weight: 700; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-style: italic; */
    z-index: 2;
    
}

.section-button-container p.button-font {
    width: auto;
    color: #e2e2e2;
    font-size: 2vw;
    font-family: 'robotoMediumItalic';
    margin: 0px 10px 0px 0px;
}

.section-button-container:hover {
    cursor: pointer;
    /* background-color: #ffffff56; */
}